<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Bienvenue dans {{ title }}!<!--interpolation la variable title dans le fichier ts-->
    </h1>
  
</div>

<h2>SIRH De AMAZOGLE</h2>
<br><br>

<nav>
    <a routerLink="/heroes">Liste des employés</a>
    <a routerLink="/dashboard" style="margin-left:30px">Dashboard</a>
</nav>

<br><br>

<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
<!-- <app-dashboard></app-dashboard> -->
<app-messages></app-messages>
<!-- <app-votetaker></app-votetaker> -->


<!-- <router-outlet></router-outlet> -->
