.selected{
    background-color: #cfd8dc!important;
    color:white;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    margin:.5em;
    padding: .3em 0; 
    height: 1.6em;
    border-radius: 4px;
    list-style: none;
}
.heroes  li.selected:hover{
    color:#607d88;
    background-color: #ddd;
    left:.1em;
}
.heroes .text{
    position: relative;
    top:-3px;
}
.heroes .badge{
    display: inline-block;
    font-size: small;
    color:white;
    padding:0.8em 0.7em 0 0.7em;
    line-height:1em;
    position: relative;
    left:-1px;
    top:-4px;
    height:1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    background-color: #607d88;
}